:root{
    --color-white: #fff;
    --color-dark1: #272727;
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --colorpurple:#b040ff;
  
    


}


.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica;
    background-color: var( --color-dark1);
    color: var(--color-white);
    justify-content: space-between;
    margin: 0%;
}

.container main{
    flex: 1 1 0;
}


.img_logo_header{
    width: 100px;

}

.header,
.navegation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.header{
    --s: 200px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
  
    background: repeating-conic-gradient(
          from 30deg,
          #0000 0 120deg,
          var(--c3) 0 180deg
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
      repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        var(--c3) 0 180deg
      );
    background-size: var(--s) calc(var(--s) * 0.577);
    box-shadow: 1px 1px 4px var(--color-dark4);
    height: 6em;
    justify-content: space-around;
    padding: 0 10%;

}
.navegation_header{
    gap: 3em;

}
.navegation_header a{
    text-decoration: none;
    color: var(--color-white);
    transition: 1s;
    font-weight: bold;
    padding: 1px;
    box-shadow: #000000;
    

}
.active{
    background-color: var(--colorlightgreen);
    padding: 10px;
    border-radius: 10px;
  
}

/*//////////////////////////////////main//////////////////////////////////*/

.nome h1{
    position: absolute;
    height: 6em;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    top: 10em;
    margin-left: 5em;
}

.text{
    width: 20em;
    text-align: justify;
    margin: 20px;
    line-height: 25px;
    margin-left: 7.5em;
    margin-bottom: 20px;
    position: absolute;
    font-size: 2em;
    top: 17em;
}

.imagem{
    position: absolute;
    margin-left: 70em;
    top: 30.5em;
    border-color: var(--color-white);
    border-width: 5em;
}

.contat{
    width: 20em;
    text-align: justify;
    margin: 20px;
    line-height: 25px;
    margin-left: 35em;
    margin-bottom: 20px;
    position: absolute;
    font-size: 2em;
    top: 32em;
}

/*//////////////////////////////////main//////////////////////////////////*/

footer{
    background:var(--color-dark2);
    font-size: 18px;
    padding: 35px;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 75em;
   }